.App {
    background: #eeeeee;
}

.AppHeader {
    text-align: center;
}

.AppMain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    margin: 10px 5px 20px 5px;
    border-radius: 5px;
}

#editor {
    width: 85%;
    height: 70vh;
    resize: none;
    padding: 1rem;
    outline: none;
    font-size: 1.2rem;
    border: none;
    overflow-y: auto;
}

#preview {
    height: 70vh;
    border-radius: 4px;
    padding: 1rem;
    background: #ffffff;
    overflow-y: auto;
}

@media screen and (max-width: 680px) {
    .App {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    #editor,
    #preview {
        max-height: 40vh;
    }
}